:root {
    --accentColor: rgb(224, 112, 59);
    --accentColorDarker: rgb(182, 91, 49);
    --primaryBackground: rgb(116, 116, 116);
    --accentBackground: rgb(41, 41, 41);
    --btnColor: rgba(66, 66, 66, 0.712);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Lato', sans-serif;
}


.wrapper {
    display:grid;
    grid-template-rows: 50px auto 75px;
    width: 1024px;
    height: 600px;

}

header {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    background: var(--accentBackground);
    color: rgb(230, 230, 230);
    justify-items: start;
    align-items: center;
}
.home {
    width: 50px;
    grid-column: 1;
}
.time {
    grid-column: -1;
    color: var(--accentColor);
    padding: 10px;
}


.sources {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 60%;
}


.btn {
    display: grid;
    width: 100%;
    background: var(--btnColor);
    color: var(--accentColor);
    border: none;
    padding: 5px;
    box-shadow: 0px 4px 5px #272727;
    text-shadow: 0px 1px 2px #272727;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.4s;

}

.btn:hover {
    color: var(--accentColor);
    background: rgba(51, 51, 51, 0.849);
    text-shadow: none;
    box-shadow: 0px 1px 1px #272727;
}

.btn:active {
    color: var(--btnColor);
    background: var(--accentColorDarker);
    box-shadow: none;
    transition: all 0.15s;
}




.btn-source {
    height: 100px;
}

.selected {
    color: var(--btnColor);
    background: var(--accentColor);
    text-shadow: none;
    box-shadow: 0px 1px 1px #272727;
}

.selected:hover {
    color: var(--btnColor);
    background: var(--accentColor);
    text-shadow: none;
    box-shadow: 0px 1px 1px #272727;
}




.main {
    display:grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    background: var(--primaryBackground);
    color:  rgb(230, 230, 230);
}

h2 {
    color: var(--accentBackground);
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
}

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    background: var(--accentBackground);
    color: rgb(230, 230, 230);
    box-shadow: -5px 0px 3px #272727;
    position: relative;

}

footer .btn {
    box-shadow: none;
}

.volume {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 5fr 1fr;
    grid-column: -3 / span 3;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: .9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    align-self: center;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--accentColor);
    cursor: pointer;
}